@import "../my-social-network/src/components/Common/variables";
@import "../my-social-network/src/components/Common/constants";
@import "../my-social-network/src/components/Common/mixins";


.loginWrapper {
  height: 94vh ;
  display: flex;

  .login {
    @include windows();
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    @media (min-width: $mobile-min-width) and (max-width: $ipad-pro-min-width) {
      box-shadow: 0 0 0 0 ;
    }
    .h2 {
      color: $activeTextColor;
    }

    .newPassTextFields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }

    .textFields {

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: relative;

      .emailError {
        position: absolute;
        top: 14rem;
        color: red;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
      }

      .checkbox {
        display: flex;
        align-items: center;
        margin-left: -10px;
        margin-top: 30px;
        cursor: pointer;
      }

      .passError {
        @extend .emailError;
        top: 3.4rem;
      }
    }

    .button {
      display: flex;
      justify-content: center;
    }

  }
}
