.myProfilePhotoWrapper {
  display: flex;
  align-items: center;

  .mySmallPhoto {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  .userName{

  }
  .jobStatus{
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #747474;
  }
}