.myProfilePhotoWrapper {
  display: flex;
  align-items: center;

  .mySmallPhoto {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 0.7rem;
  }
  .jobDescription{
    font-size: 10px;
    line-height: 15px;
  }
  .jobStatus{
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #747474;
  }
}