@import "../Common/variables";
.postBlock{
    /* border: 1px solid red;*/
    background-color: $mainBackGroundColor;
    border-radius: $messageBorderRadius;
    display: flex;
    flex-direction: column;
    width:100%;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-right: 40px;
    padding: 1rem 0 0 1rem;
    /*box-sizing: border-box;*/

    .posts {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        word-break: break-all;
    }
}

