@import "../Common/variables";
.postBlock{
    /*padding: 1rem;*/
   /* border: 1px solid red;*/
    background-color: $mainBackGroundColor;
    border-radius: $messageBorderRadius;
    display: flex;
    flex-direction: column;
    width:850px;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-right: 40px;

    .posts {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        word-break: break-all;
    }
}

