.content{
    width: 100%;
    border: 1px solid ;
    padding: 15px 15px 6px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.content img {
    height: 200px;
    border-radius: 4px;
}
.editableSpan{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 0.5rem;
}
.editableSpan:hover{
    background-color: #dddcdc;

}