@import "../my-social-network/src/Styles/variables";
@import "../../Styles/constants";

.profileWrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;
  /*border: 1px solid green;*/
  border-radius: 4px;
  width: 65%;
  @media (min-width: $mobile-min-width) and (max-width: $ipad-pro-min-width) {
    width: 100%;
    flex-direction:column;
  }
  .allPostsBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  .editableDiv {
    font-size: inherit;
    cursor: pointer;
    word-break: break-word;
    padding-right: 30px;
    padding-left: 30px;
  }

  .editableDiv:hover {
    background-color: $mainBackGroundColor;
  }

  .input {
    width: 100%;
    margin-bottom: 0.5rem;
    outline: none;
    border: 1px solid $mainBackGroundColor;
    font-size: inherit;

  }

  .input:focus {
    margin-bottom: 0.5rem;
    border: 2px solid $mainBackGroundColor;
    border-radius: 6px;
  }
}


