@import "../../../Styles/variables";

.formWrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .textArea {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font: inherit;
    border-radius: 10px;
    resize: none;
    outline: none;
    box-shadow: none;
    border: 1px solid $mainBackGroundColor;
    color: $defaultTextColor;
    line-height: inherit;
    box-sizing: border-box;
    background-color: $whiteColor;
  }

  .iconButton {
    margin-left: 1rem;
    color: $activeTextColor;
  }
}

