@import "../my-social-network/src/Styles/variables";
@import "../../../Styles/constants";
.contactsBlock {

  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  box-sizing: border-box;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  >div{
    width: 100%;
  }
  margin-bottom: 1rem;

  .contactsBlockItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    flex-wrap: wrap;

    .icon {
      margin-right: 0.875rem;
    }

    a {
      color: #44566c;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .lastContactBlockItem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1rem;

    .icon {
      margin-right: 0.875rem;
    }

    a {
      color: #44566c;
      cursor: pointer;
      text-decoration: none !important;
    }
  }
}








