@import "../../../../Styles/variables";

.itemWrapper {
  padding: 20px 30px 20px 30px;
  color: $defaultTextColor;
  margin-bottom: 1rem;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  .avatarAndClose {
    display: flex;
    justify-content: space-between;
  }

  .likeBlock {
    position: relative;
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
      cursor: pointer;
      color: $postColor;
    }

  }

  .likeBlock::before {
    content: "";
    background-color: #E5E5E5;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 30px;
    left: 0;
    box-sizing: border-box;

  }

}

