@import "./../Common/variables";
@import "./../Common/constants";

.editProfileWrapper {
  background-color: $mainBackGroundColor;
  width: 65%;
  display: flex;
  justify-content: center;
  height: max-content;

  .content {
    border-radius: $borderRadius;

    background-color: $whiteColor;
    width: 700px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column !important;
    align-items: center;
    font-size: 16px;

    .checkBox {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .formRowWithoutMargin{
      @extend .formRow;
      @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        margin-bottom: 0 !important;
      }
    }
    .formRow {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      font-size: 14px;
      margin-bottom: 0.5rem;
      @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        margin-bottom: 0.7rem;
      }

      .contactText {
        margin-right: 1rem;
        color: $defaultTextColor;

      }

      .textField {
        background: $whiteColor;
        width: 300px;

        @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
          width: 200px;
        }
      }

      .checkBoxLabel {
        display: flex !important;
        justify-content: center;
        color: $defaultTextColor
      }

    }
  }

  .button {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}