@import "./../Common/variables";

.headerWrapper {
  background-color: $containerColor;
  margin-bottom: 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;

  .sideWrapper {

    display: flex;

    .NavItem {
      margin-right: 2rem;
      display: flex;

      .unActiveNavLink {
        color: $defaultTextColor ;
        opacity: 0.6;
      }

      .activeNavLink {
        color: $activeTextColor ;

      }

      .activeNavLink::after {
        content: "";
        background-color:  $activeTextColor;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 60px
      }
    }

    .NavItem a {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-decoration: none;
      display: flex;
    }
  }

  .logo {
    border-right: 2px solid #F4F4F4;
    height: 80px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerContent {
    height: inherit;
    border-right: 2px solid #F4F4F4;
    border-left: 2px solid #F4F4F4;
    /*min-width: 1000px;*/
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    /*border: 1px white solid;*/
    justify-content: space-between;

    .loginBlock {
      height: inherit;
      padding-left: 1rem;
      border-left: 2px solid #F4F4F4;
      display: flex;
      /*justify-content: flex-end;*/
      align-items: center;
      color: $defaultTextColor;
      flex-wrap: wrap;
      cursor: pointer;
      margin-right: 1rem;
      .jobStatus{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .loginBlock:hover{
      color: $activeTextColor;
    }

    .login {
      margin-left: 1rem;
      text-decoration: none;
      color: $activeTextColor;
    }
  }
}


