.Header {
    /*grid-area: h;*/
    background-color: #231F20;
    margin-bottom: 1.5rem;
    height: 4rem;
    min-height: 50px;
    display: flex;
    align-items: center;

}
.menu{
    display: flex;
    align-items: center;
    background-color: #231F20;
    height: 4rem;
    position: fixed;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.container{
    width: 1170px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    max-width: 1050px;
    align-items: center;
    border: 1px white solid;
}
.logo{
    display: flex;
    align-items: center;
}