@import "./../Common/variables";
@import "./../Common/constants";

.headerWrapper {
  background-color: $whiteColor;
  margin-bottom: 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    margin-bottom: 0;

  }

  .sideWrapper {

    display: flex;

    .NavItem {
      margin-right: 2rem;

      @media (min-width: $mobile-min-width) {
        margin-right: 1rem;
      }
      @media (min-width: 375px) and (max-width: $mobile-max-width) {
        margin-right: 2rem;
      }

      .hideForMobile {
        @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
          display: none;
        }
      }

      .unActiveNavLink {
        color: $defaultTextColor;
        opacity: 0.6;
      }

      .activeNavLink {
        color: $activeTextColor;
      }

      .activeNavLink::after {
        content: "";
        background-color: $activeTextColor;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 60px;
        @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
          top: 40px;
        }
      }
    }

    .NavItem a {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      text-decoration: none;
      display: flex;
    }
  }

  .LastNavItem {
    @extend .NavItem;
    @media (min-width: 375px) and (max-width: $mobile-max-width) {
      margin-right: 1.2rem !important;
    }
    @media (min-width: $mobile-min-width) and (min-width: 374px){
      margin-right: 0.5rem;
    }
  }

  .logo {
    border-right: 2px solid #F4F4F4;
    height: 80px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
      display: none;
    }
  }

  .headerContent {
    height: inherit;
    border-right: 2px solid #F4F4F4;
    border-left: 2px solid #F4F4F4;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
      border-right: 0;
      border-left: 0;
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
      box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
      .logOutIcon {
        display: flex;
      }
    }

    .loginBlock {
      height: inherit;
      padding-left: 1rem;
      border-left: 2px solid #F4F4F4;
      display: flex;
      align-items: center;
      color: $defaultTextColor;
      flex-wrap: wrap;
      cursor: pointer;
      margin-right: 1rem;
      @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding-left: 0;
        margin-right: 0;
        border-left: 0;
      }

      .logOutIcon {
        display: none;
        @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
          display: flex;
        }
      }

      .profilePhoto {
        @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
          display: none;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .profilePhoto:hover {
        color: $activeTextColor;
      }
    }

    .loginButton {
      margin-left: 1rem;
      text-decoration: none;
      color: $activeTextColor;

      @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        display: none;
      }
    }
  }
}


