@import "./../Common/variables";
.LastContactContainer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #F7F9FB;
  /*:hover {
    color: $buttonAndFocusTextColor;
  }*/
}

