@import "../my-social-network/src/Styles/variables";
@import "../../../Styles/constants";

.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  background-color: $mainBackGroundColor;
  width: 290px;
  min-width: 290px;
  border-radius: 0 4px;

  @media (min-width: $mobile-min-width) and (max-width: $ipad-pro-min-width) {
    width: 100%;
  }

  .profilePhoto {
    background-image: url("../../../Images/backGroundProfilePhoto.svg");
    background-color: $whiteColor;
    height: 135px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    position: relative;
    border-radius: $borderRadius;
    @media (min-width: $mobile-min-width) and (max-width: $ipad-pro-min-width) {
      background-size: cover;
    }

    .avatarWrapper {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      background-color: $whiteColor;
      position: absolute;
      top: 50px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;

      img {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10px;
        width: 140px;
        height: 140px;
        border-radius: 70px;
      }
    }


    .menu {
      background: rgba(0, 0, 0, 0.50);
      display: none;
      position: absolute;
      width: 120px;
      height: 50px;
      top: 60px;
      transition: 1s;
      border-radius: $borderRadius;
    }

    p {
      color: #f4f7fc;
    }
  }
  .statusBlock {
    padding-top: 80px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $whiteColor;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 1rem;

    .profileName {
      color: $defaultTextColor;
      font-size: 19px;
      line-height: 25px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;

      img {
        margin-left: 6px;
        width: 20px;
        height: 20px;
      }
      .popover{
        margin-left: 5px;
        cursor: pointer;
      }
    }

    .profileStatus {
      height: max-content;
    }

    .profileDescription {
      color: $defaultTextColor;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      //font-size: 14px;
    }

  }

  .avatarWrapper:hover div {
    display: flex !important;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

  }

  .modalMainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;


    .avatarBlock {
      position: relative;
      width: 100px;

      .avatarImg {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
      }

      .iconUpload {
        position: absolute;
        bottom: -11px;
        right: -10px;
      }
    }

  }
}


