
$mobile-min-width: 280px;
$mobile-middle-width: 360px;
$mobile-max-width: 540px;

$tablet-and-mobile-min-width: 418px;
$tablet-and-mobile-max-width: 767px;

$ipad-min-width: 768px;
$ipad-max-width: 1199px;

$ipad-pro-min-width: 900px;
$ipad-pro-max-width: 1112px;

$ipad-pro12-min-width: 1024px;
$ipad-pro12-max-width: 1368px;

$desktop-mix-width: 1281px;
$desktop-dpi-mix-width: 1441px;