@import "variables";

@mixin windowMargin($margin-right, $margin-left) {
  margin-right: $margin-right;
  margin-left: $margin-left;
}

@mixin windows() {
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: $whiteColor;
  border-radius: $borderRadius;
  width: 413px;
  height: max-content;
  font-size: 16px;

  @media screen and (max-width: 500px) {
    border-radius: 0;
    width: 100%;
    margin-top: 0;

    input + div {
      @include windowMargin(0, 0);
    }
    p {
      width: 300px !important;
    }

    button > span {
      margin: 0;
    }
    a {
      @include windowMargin(20px, 20px);
    }

  }
}



