$textColor:#353535;
/*$mainBackGroundColor: #f4f7fc;*/
$mainBackGroundColor: #F7F9FB;
$contentColor: #F7F9FB;
$containerColor: #ffffff;
$headerColor: #3644d9;
$postColor: #004464;
$dialogFirstMessageColor: #f4f7fc;
$dialogSecondMessageColor: #f3f1ff;
$messageBorderRadius: 10px;
$defaultTextColor: #181818;
$activeTextColor: #0275B1;
