$textColor:#353535;
$mainBackGroundColor: #f4f7fc;
$containerColor: #ffffff;
$headerColor: #3644d9;
$postColor: #004464;
$dialogFirstMessageColor: #f4f7fc;
$dialogSecondMessageColor: #f3f1ff;
$messageBorderRadius: 10px;
