@import "src/components/Common/variables";

.itemWrapper {
  color: $textColor;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid $mainBackGroundColor;
  padding: 0.5rem;
  background-color: $containerColor;
  border-radius: $messageBorderRadius;

  .userAndLoginBlock {
    color: $postColor !important;
    display: flex;
    cursor: pointer;
    align-items: flex-start;
  }

  img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 30px !important;
  }

}

