@import "../../Styles/constants";
@import "../../Styles/variables";

.LastContactContainer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $mainBackGroundColor;
  color: $defaultTextColor;
  @media (min-width: $mobile-min-width) and (max-width: $ipad-pro-min-width) {
    display: none;
    background-color: $whiteColor;
    padding-left: 30px;
  }
  a {
    color: $defaultTextColor;
    text-decoration: none;

    :hover {
      color: $activeTextColor;
    }
  }
}

.error404Display {
  position: absolute;
  top: 94vh;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: $whiteColor;
  left: 0;
  right: 0;

  a {
    color: $whiteColor;
    text-decoration: none;

    :hover {
      color: $activeTextColor;
    }
  }
}

