@import "././components/Common/variables";


body {
  overflow-y: scroll;
.App{
  width: 100%;
  background-color: $mainBackGroundColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
  .mainContent {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    width: inherit;
    flex-wrap: wrap;
    color: $defaultTextColor;
    min-width: 1000px;
    box-sizing: border-box;

  }
}


