@import "Styles/variables";
@import "Styles/constants";


body {
  overflow-y: scroll;
.App{
  width: 100%;
  background-color: $mainBackGroundColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /*height: 100%*/;

  @media (min-width: $mobile-min-width) and (max-width: $ipad-pro-min-width) {
    padding-bottom: 110px;
    background-color: $whiteColor;
  }
  /*@media (min-width: $tablet-and-mobile-min-width) and (max-width: $tablet-and-mobile-max-width) {
    height: max-content;
  }
  @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
    height: max-content;
  }
  @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
    height: max-content;
  }
  @media (min-width: $ipad-pro12-min-width) and (max-width: $ipad-pro-max-width) {
    height: max-content;
  }
  @media (min-width: $ipad-pro12-min-width) and (max-width: $ipad-pro12-max-width) {
    height: max-content;
  }*/
}
  .mainContent {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    width: inherit;
    flex-wrap: wrap;
    color: $defaultTextColor;
    box-sizing: border-box;
    @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
      width: 100%;
      display: flex;

    }
  }
}


