@import "././components/Common/variables";


body {

  overflow-y: scroll;
.App{
  /*display: flex;
  flex-direction: column;*/
  width: 100%;
  background-color: $mainBackGroundColor;
}
  .mainContent {
    display: flex;

    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    /*flex-wrap: wrap;*/
    border: 1px solid blue;
    color: $defaultTextColor;
    min-width: 1000px;
    /*max-height: 100vh;*/
    box-sizing: border-box;
  }
}


