@import "../Common/variables";

.dialogsWrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $whiteColor;
  box-sizing: border-box;
 /* border: 1px solid red;*/
  width: 65%;


  .dialogItem {
    background-color: $dialogFirstMessageColor;
    display: flex;
    padding: 0.5rem;
    border-radius: $borderRadius;
    align-items: center;
    margin-bottom: 1rem;
    box-sizing: border-box;
    word-break: break-all;

    .userAvatarAndName {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $defaultTextColor;
        margin-right: 1rem;
        .jobDescription{
          font-size: 10px;
          line-height: 15px;
        }

      img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.messagesWrapper {
  display: flex;
  border-radius: $borderRadius;
  justify-content: flex-end;
  background-color: $dialogSecondMessageColor;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.7rem;
  box-sizing: border-box;

  .dialogItem {
    margin-right: 1rem;
    box-sizing: border-box;
    background-color: $dialogSecondMessageColor;
  }

  div {
    flex-direction: column !important;
    box-sizing: border-box !important;
  }

  img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 30px !important;
    margin-bottom: 0.5rem;
  }
}
