.AllMessages{
    background-color: #004464;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 10px;
    width: 612px;
    padding: 10px;
    grid-template-areas:
            "d m"
            ".  i";
}
.messages{
    grid-area: m;
    background-color: #1b6d94;
}
.dialogs{
    grid-area: d;
    background-color: #ffffff;
}
.dialogs.active{
    background-color: #8dc63f;

}
.dialogs a {
    text-decoration: none;
}
.dialogs img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.formControl{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 80%;
}
.sendMessage {
    grid-area: i;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    border-radius: 4px;
    background: #f8f8f8;
}
.inputGroup{

}
.textArea{
    width: 210px;
}