@import "../my-social-network/src/Styles/constants";
@import "../my-social-network/src/Styles/variables";

.usersWrapper {
  display: flex;
  flex-direction: column;
  background-color: $mainBackGroundColor;
  /*margin-left: 1rem;*/
  padding: 20px;
  flex-wrap: wrap;
  /*flex: 1;*/
  width: 65%;

  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    width: 100%;
  }

  .usersBlock {
    border: 1px solid $mainBackGroundColor;
    display: flex;
    width: 100%;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
    flex: 1;
    border-radius: $borderRadius;
    background-color: $whiteColor;


    .avatarAndFollowButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 1rem;
      margin-left: 0.5rem;
      cursor: pointer;

      .avatar {
        width: 80px;
        border-radius: 40px;
        margin-bottom: 1rem;
      }
    }

    .nameAndStatus {
      display: flex;
      flex-direction: column;
      align-content: center;
      flex: 1;

      .status {
        font-size: 14px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

      }

      .name {
        margin-left: 1rem;
        margin-top: 1rem;
        cursor: pointer;
      }
    }

  }

}









